html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: url("../images/login_bg.jpg") no-repeat center;
    background-size: cover;
}

.loginAndRegBox {
    width: 400px;
    height: 310px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title-box {
    height: 60px;
    background: url("../images/login_title.png") no-repeat center;
}

.reg-box {
    display: none;
}


/* 24. 美化表单 */

.layui-form {
    padding: 0 30px;
}


/* 29. 右对齐 */

.links {
    display: flex;
    justify-content: flex-end;
}

.lins a {
    font-size: 12px;
}


/* 33. 定位 */

.layui-form-item {
    position: relative;
}

.layui-form-item .layui-icon {
    position: absolute;
    left: 10px;
    top: 10px;
}


/* 34. 给文本框设置padding，使小图标和placeholder不重叠 */

.layui-input {
    padding: 0 32px;
}